/api_reading/20140323_using_Idle_API/*.webapp~
/api_reading/20140323_using_Idle_API/*.html~
/api_reading/20140323_using_Idle_API/*.swp
*.swp
*.html~
/api_reading/20140430_using_Page_visibility_API/*.js~
/api_reading/20140430_using_Page_visibility_API/*.webapp~
